.outline-secondary-button {
  border-color: currentColor;
  background: transparent;
}

.text-center {
  text-align: center;
}

.modal-header {
  font-size: 20px;
  font-weight: 600;
}

.modal-description {
  font-size: 14px;
  color: #818181;
}

.modal-icon {
  mat-icon {
    height: 60px;
    width: 60px;
    font-size: 60px;
  }
}
