.page-theme {
  width: 100%;
}

.sigin-form {
  width: calc(100% - 50px);
  height: calc(100% - 200px);
  max-width: 900px;
  overflow: hidden;
  .sigin {
    display: flex;
    background-color: white;
    padding:10px 30px 20px 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #555555;
    max-width: 300px;
  }
}

.title {
  font-size: 1.5rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
}

.auth-img{
  img{
    height: 300px;
    width: 300px;
  }
}
